<div class="signup-container">
  <div class="container">
    <div class="row">
      <div class="col m5 signup-form">
        <h2 class="user-form-header">Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.label :username, class: "field-label" %><br />
            <%= f.text_field :username, { autofocus: true, required: true } %>
          </div>

          <div class="field">
            <%= f.label :email, class: "field-label" %><br />
            <%= f.email_field :email, { autofocus: true, required: true } %>
          </div>

          <div class="field">
            <%= f.label :password, class: "field-label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, { autocomplete: "off", required: true } %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "field-label" %><br />
            <%= f.password_field :password_confirmation, { autocomplete: "off", required: true } %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn right" %>
          </div>
        <% end %>
      </div>

      <div class="col m6 offset-m1 signup-disclaimer">
        <h4 class="user-form-header">Disclaimer</h4>
        <p>Mic Drop is currently in beta-testing and used for demonstrative purposes only. 
        Uploaded files may be removed without notice. Content will not and can not be used for commercial purposes.</p>
        <p>Already have an account? Sign in <%= link_to 'here', new_user_session_path %>.</p>
      <% if devise_error_messages!  %>
        <div class="devise-error">
            <% devise_error_messages!.each do |msg| %>
              <%= msg %>
            <% end  %>
        </div>
      <% end  %>
      </div>
    </div>
  </div>
</div>