<div class="container user-show-container">
	<% if current_user %>
		<% if @user === current_user %>
			<h5>Hi <%= @user.username %></h5>
			<% if @user.shootouts.count === 0  %>
				<p>You currently have no uploaded shootouts. <br>
				Feel free to upload your first shootout <%= link_to 'here', new_shootout_path %>!
				</p>
			<% else  %>
				<p>Thank you for contributing to Mic Drop. Here are the shootouts you've uploaded:</p>
			<% end  %>
		<% end  %>
	<% else %>
		<h5><%= @user.username %></h5>
		<p>Joined on: <%= @user.created_at.strftime("%b. %d, %Y") %></p>
		<p>Shootouts posted: <%= @user.shootouts.count %></p>
	<% end  %>
</div>

<% @user.shootouts.each do |shootout|  %>
	<%= render 'partials/shootout-list', :shootout => shootout %>
<% end  %>
