<div class="container mic-show-container">
	<div class="row mic-info-row">
		<div class="mic-info-image col m3">
			<%= image_tag @microphone.image.url, class: "responsive-img" %>
		</div>
		<div class="mic-info-spec col m9">
			<h5><%= @microphone.manufacturer.name %> <%= @microphone.model %></h5>
			<table>
			  <tr>
			    <th class="mic-table-header">Type:</th>
			    <td class="mic-table-data"><%= @microphone.kind %></td>
			  </tr>
			  <tr>
			    <th class="mic-table-header">Phantom:</th>
			    <td class="mic-table-data"><%= @microphone.phantom %></td>
			  </tr>
			  <tr>
			    <th class="mic-table-header">Polar Pattern:</th>
			    <td class="mic-table-data"><%= @microphone.polar_pattern %></td>
			  </tr>
	  		  <tr>
			    <th class="mic-table-header">Spec Sheet (<%= @microphone.manufacturer.name %>):</th>
			    <td class="mic-table-data"><%= @microphone.spec_sheet %></td>
			  </tr>
			</table>
		</div>
	</div>
</div>

<h5 id="index-shootout-header" class="left-align index-section-header">Shootouts</h5><hr class="index-section-hr">

<% @microphone.shootouts.each do |shootout|  %>
	<%= render 'partials/shootout-list', :shootout => shootout %>
<% end  %>