<div class="signup-container">
  <div class="container">
    <div class="row">
      <div class="col m5 signup-disclaimer">
        <p>Thank you for using Mic Drop, your online resource for Microphone Shootouts</p>
        <img src="http://i.imgur.com/Bc9d8Uw.png" alt="microphone" class="responsive-img" id="login-mic-img">
        <p>Don't have an account? Sign up <%= link_to 'here', new_user_registration_path %>.</p>
      </div>
      <div class="col m5 offset-m1 signup-form">
        <h2 class="user-form-header">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "field-label" %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password, class: "field-label" %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "field-label" %>
            </div>
          <% end -%>

            <%= f.submit "Log in", class: "btn right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>