<div class="signup-container">
	<div class="container new-shootout-form-container signup-form">
		<div class="row">
			<h3 id="upload-shootout-header">Upload Shootout</h3>
		</div>

		<div class="row">
		<%= form_for(@shootout, html: {id: "form-for-shootout"}) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %>
		  <div id="form-sm1" class="row">
		    <div class="input-field col s11 shootout-form-instrument-field">
		      <i class="material-icons prefix">grade</i>
		      <%= f.select :instrument_id, @instruments.collect { |instrum| [ instrum.name, instrum.id, {'data-icon' => instrum.image(:thumb), class: "right circle" }  ] }, { prompt: 'Choose an Instrument' }, { required: true } %>
		    </div>
			<div class="row new-shootout-field" id="new-shootout-1">
			    <%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
			      <div class="input-field shootout-input-field col s6">
			        <i class="material-icons prefix">mic</i>
			        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id, {'data-icon' => mic.image, class: "left circle" } ] }, { prompt: 'Choose a Mic' }, :required => true  %>
			      </div>
			      <div class="input-field shootout-input-field col s5">
			        <i class="material-icons prefix">hearing</i>
			        <%= builder.file_field :audio, {required: true} %>
			      </div>
			    <% end %>
			</div>
			<div class="row new-shootout-field" id="new-shootout-2">
			  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
			      <div class="input-field shootout-input-field col s6">
			        <i class="material-icons prefix">mic</i>
			        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id, {'data-icon' => mic.image, class: "left circle" } ] }, { prompt: 'Choose a Mic' }, :required => true  %>
			      </div>
			      <div class="input-field shootout-input-field col s6">
			        <i class="material-icons prefix">hearing</i>
			        <%= builder.file_field :audio, {required: true} %>
			      </div>
			    <% end %>
			</div>

			<div class="row new-shootout-field" id="new-shootout-3" hidden>
			  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
			      <div class="input-field shootout-input-field col s6">
			        <i class="material-icons prefix">mic</i>
			        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id, {'data-icon' => mic.image, class: "left circle" } ] }, { prompt: 'Choose a Mic' }, :required => true  %>
			      </div>
			      <div class="input-field shootout-input-field col s4">
			        <i class="material-icons prefix">hearing</i>
			        <%= builder.file_field :audio, {required: true} %>
			      </div>
			      <div class="col s1 remove-shootout-div">
			      	<button class="remove-shootout-btn btn red">X</button>
			      </div>
			    <% end %>
			</div>
			<div class="row new-shootout-field" id="new-shootout-4" hidden>
			  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
			      <div class="input-field shootout-input-field col s6">
			        <i class="material-icons prefix">mic</i>
			        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id, {'data-icon' => mic.image, class: "left circle" } ] }, { prompt: 'Choose a Mic' }, :required => true  %>
			      </div>
			      <div class="input-field shootout-input-field col s4">
			        <i class="material-icons prefix">hearing</i>
			        <%= builder.file_field :audio, {required: true} %>
			      </div>
			      <div class="col s1 remove-shootout-div">
			      	<button class="remove-shootout-btn btn red">X</button>
			      </div>
			    <% end %>
			</div>
			<div class="row new-shootout-field" id="new-shootout-5" hidden>
			  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
			      <div class="input-field shootout-input-field col s6">
			        <i class="material-icons prefix">mic</i>
			        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id, {'data-icon' => mic.image, class: "left circle" } ] }, { prompt: 'Choose a Mic' }, :required => true  %>
			      </div>
			      <div class="input-field shootout-input-field col s4">
			        <i class="material-icons prefix">hearing</i>
			        <%= builder.file_field :audio, {required: true} %>
			      </div>
			      <div class="col s1 remove-shootout-div">
			      	<button class="remove-shootout-btn btn red">X</button>
			      </div>
			    <% end %>
			</div>

		 <div class="row">
		  	<button class="btn black" id="add-shootout-mic-btn">Add Another Microphone</button>
		    <%= f.submit 'Submit', class: "btn right", id: "submit-shootout-btn" %>
		  </div>
		<% end  %>
		</div>
	</div>
</div>