<div class="container">
	<div class="row">
	<%= form_for(@shootout) do |f| %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	  <div id="form-sm1" class="row">
	    <div class="input-field col s12">
	      <i class="material-icons prefix">grade</i>
	      <%= f.select :instrument_id, @instruments.collect { |instrum| [ instrum.name, instrum.id ] }, prompt: 'Choose an Instrument', disabled: ""  %>
	    </div>
		<div class="row new-shootout-field" id="new-shootout-1">
		    <%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
		      <div class="input-field col s6">
		        <i class="material-icons prefix">mic</i>
		        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id ] }, prompt: 'Choose a Mic'  %>
		      </div>
		      <div class="input-field col s5">
		        <i class="material-icons prefix">hearing</i>
		        <%= builder.file_field :audio %>
		      </div>
		    <% end %>
		</div>
		<div class="row new-shootout-field" id="new-shootout-2">
		  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
		      <div class="input-field col s6">
		        <i class="material-icons prefix">mic</i>
		        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id ] }, prompt: 'Choose a Mic'  %>
		      </div>
		      <div class="input-field col s6">
		        <i class="material-icons prefix">hearing</i>
		        <%= builder.file_field :audio %>
		      </div>
		    <% end %>
		</div>

		<div class="row new-shootout-field" id="new-shootout-3" hidden>
		  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
		      <div class="input-field col s6">
		        <i class="material-icons prefix">mic</i>
		        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id ] }, {}, { :prompt => 'Choose a Mic'}  %>
		      </div>
		      <div class="input-field col s5">
		        <i class="material-icons prefix">hearing</i>
		        <%= builder.file_field :audio %>
		      </div>
		      <div class="col s1">
		      	<button class="remove-shootout-btn btn">X</button>
		      </div>
		    <% end %>
		</div>
		<div class="row new-shootout-field" id="new-shootout-4" hidden>
		  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
		      <div class="input-field col s6">
		        <i class="material-icons prefix">mic</i>
		        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id ] }, {}, { :prompt => 'Choose a Mic'}  %>
		      </div>
		      <div class="input-field col s5">
		        <i class="material-icons prefix">hearing</i>
		        <%= builder.file_field :audio %>
		      </div>
		      <div class="col s1">
		      	<button class="remove-shootout-btn btn">X</button>
		      </div>
		    <% end %>
		</div>
		<div class="row new-shootout-field" id="new-shootout-5" hidden>
		  	<%= f.fields_for :shootout_microphones, ShootoutMicrophone.new, html: { multipart: true } do |builder| %>
		      <div class="input-field col s6">
		        <i class="material-icons prefix">mic</i>
		        <%= builder.select :microphone_id, @microphones.collect { |mic| [ mic.manufacturer.name + " " + mic.model, mic.id ] }, {}, { :prompt => 'Choose a Mic'}  %>
		      </div>
		      <div class="input-field col s5">
		        <i class="material-icons prefix">hearing</i>
		        <%= builder.file_field :audio %>
		      </div>
		      <div class="col s1">
		      	<button class="remove-shootout-btn btn">X</button>
		      </div>
		    <% end %>
		</div>


	  <div class="row">
	  	<button class="btn" id="add-shootout-mic-btn">Add Another Microphone</button>
	    <%= f.submit 'Submit', class: "btn right" %>
	  </div>
	<% end  %>
	</div>
</div>