<!DOCTYPE html>
<html>
  <head>
    <title>Mic Drop</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="http://icons.iconarchive.com/icons/icons8/windows-8/128/Music-Microphone-2-icon.png">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--   Google Fonts -->  
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
            
  </head>

  <body>

  <div class="navbar-fixed">
    <nav class="main-nav">
      <div class="nav-wrapper">
        <%= link_to "MIC DROP", root_path, class: "brand-logo" %>
        <% if current_user %>
          <%= render 'partials/user_dropdown', :user => current_user %>
        <% else  %>
          <%= render 'partials/guest_dropdown' %>
        <% end  %>
      </div>
    </nav>
  </div>

  <% if flash[:error] %>
    <div class="container small-container">
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    </div>
  <% end  %>

    <%= yield %>
  </body>
</html>
